{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "safari": "12"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ],
  "ignore": ["node_modules/core-js", "node_modules/next"]
}
